:root {
    --TOPBAR-HEIGHT: 3em;
    --TOPBAR-TOTAL-DISTANCE: calc(0.6em + var(--TOPBAR-HEIGHT));
}

body {
    overflow-y: hidden;
}

div.top, div.middle{
    position: absolute; 
    border-radius: 0.5em;
    left: 1%; 
    width: calc(100% - 2%);
    background-color: rgb(243, 243, 243);
    box-shadow: #c8c8c8 0px 0px 10px 2px;
}

/*  TOP SECTION */
div.top { 
    top: 0.3em; height: var(--TOPBAR-HEIGHT);
    padding: 0.3em;
}

div.top > .logo-section {
    position: relative;
    width: auto; 
    background-color: green;
}
.logo-section > * {position: absolute;}
.logo-section > img { 
    top: 5px; top: 5px;
    width: 50px; height: 50px;
    
}
.logo-section > b {
    left: 60px; width: 200px;
}
div.top.small {height: 3em;}
div.top.medium {height: 10em;}
div.top.large {height: 9em;}




div.middle {
    top: calc(var(--TOPBAR-TOTAL-DISTANCE) + 0.1em);
    height: calc(100% - var(--TOPBAR-TOTAL-DISTANCE) - 0.6em - 0.9em);
    overflow-y: scroll!important;
    padding: 0.3em 0em;
}


div.middle::-webkit-scrollbar {
    width: 7px; border-radius: 0em 0.5em 0.5em 0em;
}
div.middle::-webkit-scrollbar-thumb {
    background-color: aqua;
    border-radius:0.5em;
}
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
div.middle::-webkit-scrollbar-track {
    background: #f1f1f1; border-radius: 0em 0.5em 0.5em 0em;
  }


footer {
    width: 100%; height: auto;
    background-color: rgb(58, 55, 55);
    border-radius: 0.4em; padding: 1em;
    box-sizing: border-box;
}